{% extends "template_base.html" %}

<title>{% block title_head %}Registración{% endblock title_head %}</title>

{% block contenido %}
<h3>Registro del alumno</h3>    
<h3>✍️ Introducción:</h3>
    <p>Completa el formulario a continuación con tus datos para que podamos identificarte y brindarte acceso al material correspondiente a tu institución y asignatura. Este registro también te permitirá conectarte con tus compañeros mediante sus correos electrónicos.</p>
    <h3>🛡️ Instrucciones:</h3>
    <ul>
        <li>Asegúrate de que tu correo electrónico sea correcto, ya que se utilizará para futuras notificaciones.</li>
        <li>Los campos son obligatorios y deben completarse con información veraz.</li>
        <li>¡Atención! Si ya estás registrado no permitirá que vuelvas a efectuarlo.</li>
    </ul>
    <h3>📚 Beneficios del Registro:</h3>
    <ul style="list-style: none">
        <li>✅ Acceso al material de estudio de tus asignaturas.</li>
        <li>✅ Contacto directo con tus compañeros.</li>
        <li>✅ Actualización constante de recursos según tu institución.</li>
    </ul>
        <h2>Formulario de Registro de Alumnos</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{formulario}}

        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}

        <input type="submit" value="Registro de Alumno">    
    </form>

    <h3> ℹ️ Importante:</h3>
<p>Una vez completado tu registro, podrás consultar el listado de tus compañeros por institución y sus correos electrónicos accediendo al listado que serás derivado luego de confirmar tu registración.</p>
{% endblock contenido %}