{% extends "template_base.html" %}

<title>{% block title_head %}Inicio{% endblock title_head %}</title>

{% block contenido %}
<h2>¡Bienvenido/a al espacio de apendizaje!</h2>
<h3>Podras registrarte como alumno y acceder a todos los beneficios proporcionados por la plataforma.</h3>
<p>Este sitio está diseñado para facilitar tu experiencia académica, permitiéndote no solo registrarte como alumno y loguearte, sino también conectar con tus compañeros y acceder a material relevante para tus estudios.</p>
<p>Aquí podrás:</p>
<ul style="list-style: none">
    <li>✅ Registrarte como alumno.</li>
    <li>✅ Listar a tus compañeros acorde a la institución y materia que cursen juntos y contactarlos a través de sus correos electrónicos.</li>
    <li>✅ Registrate (en caso de no estarlo) y logueate en el sitio.
    <li>✅ Edita tu usuario declarando la asignatura que corresponde para acceder al material de la cátedra que fué declarada.</li>  
</ul>

    <nav>
        <form action="{% url 'saludo' 'NOMBRE_TEMP' 'APELLIDO_TEMP' %}" method="GET" id="saludoForm">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required>
            <br>

            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" required>
            <br>

            <button type="submit">Continuar</button>
        </form>
    </nav>

    <script>
        // Modificar la URL antes de enviar el formulario
        document.getElementById("saludoForm").addEventListener("submit", function(event) {
            event.preventDefault();
            
            let nombre = document.getElementById("nombre").value;
            let apellido = document.getElementById("apellido").value;
            
            // Reemplazar en la URL los valores del usuario
            let url = `{% url 'saludo' 'NOMBRE_TEMP' 'APELLIDO_TEMP' %}`.replace('NOMBRE_TEMP', nombre).replace('APELLIDO_TEMP', apellido);
            
            window.location.href = url;
        });
    </script>
{% endblock contenido %}