{% extends "template_base.html" %}

<title>{% block title_head %}Listado{% endblock title_head %}</title>

{% block contenido %}
    
    <h2>Consulta de Alumnos Registrados</h2>
    <h3>🔍 Instrucciones para el Formulario de Búsqueda:</h3>
    <ul style="list-style: none">
        <li>✅Completa uno o ambos campos para filtrar los resultados.</li>
        <li>✅Si quieres ver todos los alumnos, deja ambos campos en blanco y haz clic en "Buscar".</li>
        <li>✅Puedes copiar el correo electrónico de un compañero para contactarlo.</li>
    </ul>
    <form action="" method="GET">
        {{formulario}}
        
        <input type="submit" value="Buscar">
    </form>
    <h2>Listado de Alumnos Registrados</h2>
    {% if  alumnos %}
    
    <ul>
        {% for alumno in alumnos %}
        <li>
            {{alumno}} |
            <a href={% url "eliminar_alumno" alumno.id %}>Eliminar</a> |
            <a href={% url "ver_alumno" alumno.id %}>Ver más</a> |
            <a href={% url "modificar_alumno" alumno.id %}>Modificar</a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>No hay alumnos registrados</p>
    {% endif %}

    <h3>📜 Recuerda:</h3>
    <p>La información compartida en el listado es confidencial. Su uso debe ser responsable y respetuoso, priorizando siempre el bienestar y la privacidad de todos los miembros de la plataforma.</p>
    <h3>🛤️ Registrate o Inicia sesión:</h3>
    <p>Registrate (en caso de no estarlo) o inicia sesión para poder acceder al material de estudio.</p>
    {% endblock contenido %}