{% extends "template_base.html" %}

<title>{% block title_head %}Saludo{% endblock title_head %}</title>

{% block contenido %}

    <h2>¡Hola {{nombre}} {{apellido}}!</h2>
    <p>Estás ingresando el {{hora}} 👀</p>
    <p>💡 ¿Cómo funciona el sitio?</p>
    <ol>
        <li>Regístrate: Completa tus datos para unirte a la plataforma.</li>
        <li>Consulta el listado: Encuentra a tus compañeros registrados y sus correos para conectar fácilmente.</li>
        <li>Logueate en la plataforma: para acceder al material de estudio.</li>
        <li>Accede al material: Descarga los recursos disponibles según la institución y la materia que declaraste.</li>
    </ol>
    <p>Cuando estés listo/a, ingresa a "Registración" en la barra de navegación lateral izquierda y comienza a explorar. 🚀</p>
    <a href="{% url 'crear_alumno' %}" class="btn btn-light border">Registración</a>
    {% endblock contenido %}