{% extends "template_base.html" %}

<title>{% block title_head %}Sobre Mi{% endblock title_head %}</title>

{% block contenido %}
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Jesica
            <span class="text-primary">Basile</span>
        </h1>
        <div class="subheading mb-5">
            Docente Universitaria | Contadora Pública | Data Analytics
            <a href="mailto:jessbrenba@gmail.com">jessbrenba@gmail.com</a>
        </div>
        <p class="lead mb-5">Soy Especialista en docencia universitaria (UBA), tengo un posgrado en Tecnología Educativa y una Maestría en Dirección y Gestión de RRHH. Creé este sitio para que puedas acceder a materiales, actividades y recursos que complementan las clases.
            Considero que el aprendizaje no debe ser monótono, sino un camino donde cada pregunta nos acerca a nuevas respuestas. Por eso, este espacio está pensado para acompañarte en tu proceso de aprendizaje de una manera clara y práctica.
            ¡Aprovéchalo y compartiremos muchas experiencias de aprendizaje juntos! 🚀</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/jesica-basile-749b46b3"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/JessBasile"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://www.instagram.com/jessbasiile/"><i class="fab fa-instagram"></i></a>
            <a class="social-icon" href="https://www.facebook.com/jess.basile.1"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
</div>
{% endblock contenido %}