{% extends "template_base.html" %}

<title>{% block title_head %}Administración de Empresas{% endblock title_head %}</title>

{% block contenido %}
<h3>¡Bienvenido/a al espacio de la asignatura: Administración de Empresas</h3>
<p>A continuación se detalla el material disponible para la cátedra:</p>
<h3>📌 Presentaciones</h3>
<ul style="list-style: none">
    <li>✅ <a href="https://view.genially.com/641f7163c8ce8f0011dea5e1" target="_blank">GUÍA DE CÁTEDRA</a></li>
    <li>✅ <a href="https://view.genially.com/64162195a053fb001a691a87" target="_blank">UNIDAD 1</a></li>
    <li>✅ <a href="https://view.genially.com/6429cf3ffee67100196eaa6f" target="_blank">UNIDAD 2</a></li>
    <li>✅ <a href="https://view.genially.com/64348471fa779d001012efa7" target="_blank">UNIDAD 3</a></li>
    <li>✅ <a href="https://view.genially.com/64500133fbefd70011a10c67" target="_blank">UNIDAD 4</a></li>
    <li>✅ <a href="https://view.genially.com/646a69493e7d3d001967aae6" target="_blank">UNIDAD 5</a></li>
    <li>✅ <a href="https://view.genially.com/6494b6078b1668001022c9ef" target="_blank">UNIDAD 6</a></li>
    <li>✅ <a href="https://view.genially.com/64bdb50f78957a00128061b5" target="_blank">UNIDAD 7 y 8</a></li>
    <li>✅ <a href="https://view.genially.com/652b0ccf235f5f0010dd3f89" target="_blank">UNIDAD 9</a></li>
    <li>✅ <a href="https://view.genially.com/6539378b4777eb0011d2fd43" target="_blank">UNIDAD 10</a></li>             
</ul>
<h3>📌 VIDEOS EXPLICATIVOS</h3>
<ul style="list-style: none">
    <li>🎬 <a href="https://www.youtube.com/watch?v=gIsnBb4HMEM" target="_blank">FACTURACION</a></li>
</ul>
<h3>📌 ACTIVIDADES LÚDICAS</h3>
<ul style="list-style: none">
    <li>🎮 <a href="https://view.genially.com/6488b021639a5d00104fd633" target="_blank">REPASO UNIDAD 4</a></li>
    <li>🎮 <a href="https://view.genially.com/664e201a74f7a200142db078" target="_blank">ACTIVIDAD UNIDAD 4</a></li>
    <li>🎮 <a href="https://view.genially.com/664e1fb691db6400145dfb28" target="_blank">COMPLEMENTARIA UNIDAD 4</a></li>
</ul>
<h3>📌 TRABAJO PRÁCTICO INTEGRATIVO</h3>
<ul style="list-style: none">
    <li>📋 <a href="https://view.genially.com/650619432d6e6c00119aff3e" target="_blank">TPI</a></li>
{% endblock contenido %}