{% extends "template_base.html" %}

<title>{% block title_head %}Contabilidad{% endblock title_head %}</title>

{% block contenido %}
<h3>¡Bienvenido/a al espacio de la asignatura: Contabilidad</h3>
<p>A continuación se detalla el material disponible para la cátedra:</p>
<h3>📌 Presentaciones</h3>
<ul style="list-style: none">
    <li>✅ <a href="https://view.genially.com/641f7506375fa40019d1cad5" target="_blank">GUÍA DE CÁTEDRA</a></li>
    <li>✅ <a href="https://view.genially.com/6420a6438e903e0014133781" target="_blank">UNIDAD 1</a></li>
    <li>✅ <a href="https://view.genially.com/6442cd382b6d37001808cf6e" target="_blank">UNIDAD 2</a></li>
    <li>✅ <a href="https://view.genially.com/646a7f6fe8e25000136296e7" target="_blank">UNIDAD 3</a></li>
    <li>✅ <a href="https://view.genially.com/647cfe9028036100117b9c20" target="_blank">UNIDAD 4</a></li>
    <li>✅ <a href="https://view.genially.com/65048f5f1e369200110e21ed" target="_blank">PLANILLA DE CAJA</a></li>
    <li>✅ <a href="https://view.genially.com/653bf507fe562100110f2395" target="_blank">UNIDAD 5</a></li>
    <li>✅ <a href="https://view.genially.com/652b1babbba50d001067c5d9" target="_blank">UNIDAD 6</a></li>
    <li>✅ <a href="https://view.genially.com/652d84af017e7d0011372003" target="_blank">UNIDAD 7</a></li>
</ul>
<h3>📌 VIDEOS EXPLICATIVOS</h3>
<ul style="list-style: none">
    <li>🎬 <a href="https://www.youtube.com/watch?v=zVU_usOZS_U" target="_blank">LEYENDAS</a></li>
    <li>🎬 <a href="https://www.youtube.com/watch?v=TgvqbILSrKs" target="_blank">LIBRO MAYOR</a></li>
    <li>🎬 <a href="https://www.youtube.com/watch?v=l8JKHCFJIJE" target="_blank">BALANCE DE SUMAS Y SALDOS</a></li>
    <li>🎬 <a href="https://www.youtube.com/watch?v=6jIoeoTeEFo" target="_blank">HOJA DE TRABAJO</a></li>
    <li>🎬 <a href="https://www.youtube.com/watch?v=ymVJb4c6axY" target="_blank">PLANILLA DE CAJA</a></li>
    <li>🎬 <a href="https://www.youtube.com/watch?v=O2ysiBMrwlw" target="_blank">FICHA DE STOCK</a></li>
</ul>
<h3>📌 ACTIVIDADES LÚDICAS</h3>
<ul style="list-style: none">
    <li>🎮 <a href="https://view.genially.com/60203adef6aa900d24e81ba3" target="_blank">REPASO LIBRO DIARIO</a></li>
</ul>
<h3>📌 CARPETA DE TRABAJOS PRÁCTICOS</h3>
<ul style="list-style: none">
    <li>📝 <a href="https://drive.google.com/file/d/1tvywdVUpg5O2uEpTI-T2NERUAkYi3qKa/view?usp=sharing" target="_blank">TPs</a></li>
    {% endblock contenido %}