{% extends "template_base.html" %}

<title>{% block title_head %}RRHH{% endblock title_head %}</title>

{% block contenido %}
<h3>¡Bienvenido/a al espacio de la asignatura: Recursos Humanos</h3>
<p>A continuación se detalla el material disponible para la cátedra:</p>
<h3>📌 Presentaciones</h3>
<ul style="list-style: none">
    <li>✅ <a href="https://view.genially.com/6115365af44cc40d9cdcab98" target="_blank">UNIDAD 1</a></li>
    <li>✅ <a href="https://view.genially.com/6122ad97925b150d20b2fd57" target="_blank">UNIDAD 2</a></li>
    <li>✅ <a href="https://view.genially.com/612ac8c7e49c1c0dadb42623" target="_blank">UNIDAD 3</a></li>
    <li>✅ <a href="https://view.genially.com/615367c97fe6ec0d98c79492" target="_blank">UNIDAD 4</a></li>
    <li>✅ <a href="https://view.genially.com/61623a2b0025590d8c9fda0e" target="_blank">UNIDAD 5</a></li>
    <li>✅ <a href="https://view.genially.com/6526ceed860e120011a00170" target="_blank">UNIDAD 5: ESCALAS SALARIALES</a></li>
    <li>✅ <a href="https://view.genially.com/61250055b54a560d288d715f" target="_blank">UNIDAD 6</a></li>
    <li>✅ <a href="https://view.genially.com/6186bc1dc3e9ee0d86906788" target="_blank">UNIDAD 6: FIN RELACIÓN LABORAL</a></li>
</ul>
<h3>📌 ACTIVIDADES LÚDICAS</h3>
<ul style="list-style: none">
    <li>🎮 <a href="https://view.genially.com/62fe6fa5ac324a0011d37cbc" target="_blank">ANÁLISIS ENTREVISTAS</a></li>
</ul>
<h3>📌 TRABAJO PRÁCTICO INTEGRATIVO</h3>
<ul style="list-style: none">
    <li>📝 <a href="https://view.genially.com/651d96aa1932700011eb8d20" target="_blank">TPI</a></li>
</ul>
<h3>📌 MATERIAL ADICIONAL</h3>
<ul style="list-style: none">
    <li>📚 <a href="https://view.genially.com/61759291dab2f70d568b59b1" target="_blank">SEGURO: LA ESTRELLA</a></li>
    <li>📚 <a href="https://view.genially.com/66afbba5e9a3b623628e7e64" target="_blank">DIVERSIDAD</a></li>
    <li>📚 <a href="https://view.genially.com/613a61825dbcbc0d91fb21b2" target="_blank">INTELIGENCIAS MÚLTIPLES</a></li>
    <li>📚 <a href="https://view.genially.com/613a61825dbcbc0d91fb21b2" target="_blank">PLATAFORMAS LABORALES</a></li>
</ul>
    {% endblock contenido %}